.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 5px;
  flex-wrap: nowrap;
}

.Home-one {
  width: 300px;
  height: 370px;
  contain: content;
}

@media (max-width: 930px) {
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 2px;
    padding: 5px;
    flex-wrap: wrap;
    flex: 1;
  }

  .Home-one {
    width: 100%;
    height: 230px;
    contain: content;
  }
}
@media (max-width: 768px) {
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 2px;
    padding: 5px;
    flex-wrap: wrap;
    flex: 1;
  }

  .Home-one {
    width: 100%;
    height: 230px;
    contain: content;
  }
}

@media (max-width: 414px) {
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 2px;
    flex-wrap: wrap;
    flex: 1;
  }

  .Home-one {
    width: 100%;
    height: 200px;
    contain: content;
  }
  .header-h {
    font-size: 14px;
    padding: 1px;
    margin: 1px;
    border: 0;
    font-weight: bold;
  }
  .home-inner {
    font-size: 12px;
    border: 0;
  }
}
